<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Page</title>
</head>
<%- include('common/header')  %>
<body>
    <h1>User Info</h1>
    <p> <%= user.name %> </p>
    <p> <%= user.age  %> </p>
    <p> <%= user.city  %> </p>
</body>
</html>